.content {
    position: absolute;
    top: 90px;
    margin-left: 10px;
    min-width: 100%;
}
b, strong {
    font-weight: lighter;
}


&::after {
    content: "";
    position: absolute;
    top: -6px;
    right: 20px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
  }